
.idea/.name

*.xml

*.iml

*.cache

*.class

*.properties

*.css

*.xsl

project/target/streams/$global/$global/$global/streams/out

target/streams/$global/ivyConfiguration/$global/streams/out

target/streams/runtime/unmanagedClasspath/$global/streams/export

project/target/streams/$global/ivyConfiguration/$global/streams/out

project/target/streams/$global/ivySbt/$global/streams/out

project/target/streams/$global/update/$global/streams/inputs

project/target/streams/$global/update/$global/streams/output
